header {
  max-width: 1500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.46);
  display: block;
  transition: background-color 1s ease;

}
.active {
  background-color: white;
  transition: background-color 2s ease;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 137px;
  height: 39px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link {
  color: #086d94;
  margin: 0 30px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-link.active {
  font-weight: bold;
}

.flag_dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.flag-div-option {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.flag-div-option.visible {
  opacity: 1;
  visibility: visible;
}

.flag-div-option {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.3s ease;
}

.flag-choosen:hover,
.flag-option:hover {
  transform: scale(1.12);
}

.flag-div-option.visible {
  opacity: 1;
  visibility: visible;
}

.flag-choosen,
.flag-option {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  transition: transform 0.2s ease;
  display: block;
}

nav .menu_response {
  display: none;
  position: absolute;
  top: 23px;
  right: 25px;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

nav .menu_response span {
  height: 6px;
  width: 100%;
  background-color: rgb(21, 19, 19);
  border-radius: 2px;
}
