.partners_section {
  max-width: 1500px;
  width: 100%;
  min-height: 631px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.5)),
    url("../Images/information_partners.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  /* box-shadow: inset 0 0 80px rgba(0,0,0,0.7); */
}
/* .shadow {
  max-width: 1500px;
  min-height: 631px;
  background-color: rgba(0, 0, 0, 0.39);
} */


.info_partner {
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info_partner h1 {
  font-family: "Rethink Sans", sans-serif;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 63px;
}

.info_partner p {
  max-width: 1195px;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
  margin-top: 47px;
  font-style: Bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.6px;
  color: rgba(255, 255, 255, 1);
}

.slider {
  max-width: 1344px;
  min-height: 185px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 63px;
}
.img_div {
  max-width: 155px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 5px;
}

.slider img {
  max-width: 112px;
  min-height: 111px;
}
